---
layout: "default"
prism: "true"
---

<main class="container bg-eggshell p-5 prose lg:prose-xl">
  <img src="{{ featuredImage }}" />
  <header class="my-3 border-b-2 border-red">
    <h1 class="font-serif my-2 lg:my-4 text-4xl lg:text-6xl">{{ title }}</h1>
  </header>
  {{ content | safe }}
  <div class="video-container">
    <iframe class="video-iframe"
    src="https://www.youtube.com/embed/{{ id }}" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write;
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</main>
