<nav class="w-full sticky top-0 h-8 z-50 top-0 bg-black text-eggshell font-serif text-lg lg:text-2xl" x-data="{ showNavMenu: false }" @click.away='showNavMenu = false'>
  {% if navigation.items %}
      <ul class="list-reset bg-black overflow-hidden transition-all duration-700 lg:duration-0 flex-col flex content-center lg:static lg:max-h-override lg:flex-row lg:justify-end" 
        x-ref="navMenuList" :style="showNavMenu ? 'max-height: ' + $refs['navMenuList'].scrollHeight + 'px' : 'max-height: 0'"
        >
        {% for item in navigation.items %}
          {% if item.text == "Home" or item.text == "Membership" %}
            {% set url = item.url + "#content-top" %}
          {% else %}
            {% set url = item.url %}
          {% endif %}
          
          {% if item.text == "Shop" %}
            {% set target = "_blank" %}
          {% else %}
            {% set target = "_self" %}
          {% endif %}
          
            <li class="mx-2 lg:first:ml-0 lg:last:mr-0" @click="showNavMenu = false"
            >
                <a class="text-center block lg:inline-block no-underline py-2 px-2 lg:hover:text-ecru" target="{{ target }}" href="{{ url }}">{{ item.text }}</a>
            </li>
        {% endfor %}
      </ul>
      <button class="w-full block bg-black h-8 lg:hidden" @click="showNavMenu = !showNavMenu">
        <svg class="mx-auto fill-current m-2" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="16" height="16" id="icon-bound" fill="none" />
          <path d="M1,9h14V7H1V9z M1,14h14v-2H1V14z M1,2v2h14V2H1z" />
        </svg>
      </button>
  {% endif %}
</nav>